[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/rapidxml"]
	path = deps/rapidxml
	url = https://github.com/discord/rapidxml/
[submodule "deps/wxWidgets"]
	path = deps/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
