[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/rapidxml"]
	path = deps/rapidxml
	url = https://github.com/discord/rapidxml/
[submodule "deps/wxWidgets"]
	path = deps/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "deps/bzip2"]
	path = deps/bzip2
	url = https://gitlab.com/bzip2/bzip2.git
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
